body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.logoin-form{
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 10rem;
    border-radius: 10px;
    background-color: #a0e5e7;
}

h1 {
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}


.login-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}
.login-password {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
    
}

/* .login-input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}

.login-input[type="submit"]:hover {
    background: #bf1650;
} */

.login-input[type="button"]:active,
.login-input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

.login-input:disabled {
    opacity: 0.4;
}

.login-input[type="button"]:hover {
    transition: 0.3s all;
}

.login-input[type="button"],
.login-input[type="submit"] {
    -webkit-appearance: none;
}

.register-lable{
    color: white;
    text-transform: uppercase;
    border: none;
    margin: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    text-decoration-line: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    
}